<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title>TODO app</title>
</head>
<body>

  <h1>TODO application</h1>

  <div ng-controller="TodoCtrl">
    <h2>Tasks:</h2>

    <ol>
      <li ng-repeat="todo in todos">
        {{todo.text}}
        [<a ng-click="remove(todo._id)" href="#">X</a>]
      </li>
    </ol>

    <p>
      <form ng-submit="submit()">
        <input placeholder="New task" type="text" ng-model="text" />
        <input type="submit" value="Add" />
      </form>
    </p>

  </div>

  <script src="/js/pouchdb-nightly.min.js"></script>
  <script src="/js/angular.min.js"></script>
  <script src="/js/app.js"></script>

</body>
</html>
