<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title>TODO application</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.min.css">
</head>
<body>

  <div class="container" ng-controller="TodoCtrl">
    <h1>TODO application</h1>

    <p>
      <form class="form-inline" ng-submit="submit()">
        <input placeholder="New task" type="text" ng-model="text" />
        <input class="btn btn-primary" type="submit" value="Add" />
      </form>
    </p>

    <table class="table table-hover span3">
      <thead>
        <tr>
          <th>Task</th>
          <th>&nbsp;</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="todo in todos">
          <td>{{todo.text}}</td>
          <td><a class="btn btn-mini btn-danger" ng-click="remove(todo._id)" href="#">remove</a></td>
        </tr>
      </tbody>

    </table>
  </div>

  <script src="/js/pouchdb-nightly.min.js"></script>
  <script src="/js/angular.min.js"></script>
  <script src="/js/app.js"></script>

</body>
</html>
